*{
    font-family: 'Poppins', sans-serif;
 }



@media (max-width:768px){
    
    .image{
        height: 60px;
    }
    .image img{
        border-radius: 0px 20px 20px 20px;
        width: 100vh;
    }
 }